<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    
    <h1>Login</h1>
    <form action="/api/v1/login" method="POST">
        <div>
            <label for="loginEmail">Email:</label>
            <input type="email" id="loginEmail" name="email" required>
        </div>
        <div>
            <label for="loginPassword">Password:</label>
            <input type="password" id="loginPassword" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <h1>Signup</h1>
    <form action="/api/v1/signup" method="POST">
      
        <div>
            <label for="signupEmail">Email:</label>
            <input type="email" id="signupEmail" name="email" required>
        </div>
        <div>
            <label for="signupPassword">Password:</label>
            <input type="password" id="signupPassword" name="password" required>
        </div>
        <button type="submit">Signup</button>
    </form>
</body>
</html>